@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition:
    background-color 1s ease-out,
    color 1.5s ease-out,
    border-color 1.5s ease-out;
}

.btn {
  transition:
    background-color 0.23s ease-out,
    color 0.5s ease-out,
    border-color 1.5s ease-out;
  border-radius: 2s ease-out;
}

.hard-shadow {
  box-shadow: 10px 10px 0px hsl(var(--pc));
  border: 2px solid hsl(var(--pc));
}

.soft-shadow {
  box-shadow: 0 10px 20px -12px hsl(var(--p));
}

html {
  scroll-behavior: smooth;
}

.border-custom {
  border: 10px solid;
  border-image: url('/blueborder.png') 30 round
}

.custom-gradient {
  background: linear-gradient(var(--direction, to right), var(--fromHexWithOpacity), var(--toHexWithOpacity));
}

.glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.elven {
  font-family: p22-elven, sans-serif;
  font-style: normal;
  font-weight: 400;
}
