@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition:
    background-color 1s ease-out,
    color 1.5s ease-out,
    border-color 1.5s ease-out;
}

.btn {
  transition:
    background-color 0.23s ease-out,
    color 0.5s ease-out,
    border-color 1.5s ease-out;
  border-radius: 2s ease-out;
}

.hard-shadow {
  box-shadow: 10px 10px 0px hsl(var(--pc));
  border: 2px solid hsl(var(--pc));
}

.soft-shadow {
  box-shadow: 0 10px 20px -12px hsl(var(--p));
}

html {
  scroll-behavior: smooth;
}

.border-custom {
  border: 10px solid;
  border-image: url('/blueborder.png') 30 round
}
